*{
    margin: 0px;
    padding: 0px;
}
/* Header */
.header {
    display: flex;
    justify-content: row;
    width: 100%;
}
.nav {
    display: flex;
    width: 100%;
    margin: 0px;
}
.buttons-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ed3237;
    height: 6rem;
    width: 100%;
    
}
.logo-container {
    display: flex; 
}

.logo {
    height: 6rem;
    margin: 0px;
}
.index-button, .products-button, .contact-button  {
    color: #000000;
    margin: 2rem;
    text-decoration: none;
    font-family: Roboto sans-serif;
    font-size: 20px;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    background-color: #F9E8D9;
    margin: 0px;
    padding: 20px;
    align-items: center;
}
.main img {
    width: 30rem;
    padding: 10rem;
}
.h2-title {
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 100%;
    margin: 0px;
    text-align: center;
}
.brands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Products */

.products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background-color: #F9E8D9;
}

.products p {
    padding-right: 20rem;
    padding-left: 20rem;
}

.products img {
    margin: 5rem;
    height: 30rem;
    width: 30rem;
}

.price {
    font-size: 2rem;
    padding: 1rem;
}

/* Footer */

.footer {
    background-color: #ed3237;
    padding-left: 5rem;
}

.footer-buttons a {
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    display: flex;
    padding: 1rem;
}

@media (max-width: 501px ) {
    /*Index mobile*/
    .main img {
        width: 22rem;
        height: 22rem;
        padding: 3rem;
    }
    /*Products Mobile*/
    .products img {
        width: 20rem;
        height: 20rem;
    }
    
    .products p {
        padding: 1rem;
    }

    /*Footer mobile*/
    .footer {
        background-color: #ed3237;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .footer-buttons a {
        padding: 2rem;
    }
}